:root {
  --primary-color: #1f2232;
  --darker-color: #101119;
  --font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  line-height: 1.5em;
}

.container {
  --max-width: 640px;
  --padding: 2rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  
  margin-inline: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.heading {
    font-size: 28px;
    margin-bottom: 15px;
}

.text {
    margin: 20px 0;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input,
.input-group label,
.submit {
    display: block;
    width: 100%;
}

.input-group input {
    font-size: 16px;
    padding: 0 20px;
    height: 30px;
    margin-top: 2px;
}

.input-group input:focus {
    border: 1px solid var(--primary-color);
}

.submit {
    border: none;
    background: var(--primary-color);
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    margin-top: 25px;
    border-radius: 8px;
}

.submit:hover {
    background: var(--darker-color);
}

.salario-reajustado {
  display: flex;
  align-items: center;
}

.reajuste {
  margin-left: 10px;
}